.not-found-page {
    background-color: #f8f9fa;
    color: #343a40;

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    button {
        font-size: 1rem;
    }
}