.product-card {
    transition: transform 0.3s;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    object-fit: cover;
}

.product-rating {
    .star {
        color: #ddd;
        /* Màu sao chưa được chọn */
        font-size: 16px;
        margin-left: 2px;
    }
    .star.filled {
        color: #ffc107;
        /* Màu sao được chọn (vàng) */
    }
}
